[Unit]
Description=makamujo browser service
After=makamujo-screen.service
PartOf=makamujo.service

[Service]
Type=simple
WorkingDirectory=@PREFIX@
User=root
Environment=PATH=@PREFIX@/bin:/usr/local/bin:/usr/bin:/bin
Environment=NODE_ENV=production
Environment=DISPLAY=:10
ExecStart=/bin/sh -lc "cd '@PREFIX@' && NODE_ENV=production '@BUN_BIN@' '@PREFIX@/bin/x/browser.ts'"
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5s
