[Unit]
Description=makamujo browser service
After=makamujo-screen.service
PartOf=makamujo.service

[Service]
Type=simple
WorkingDirectory=/opt/makamujo
User=root
Environment=PATH=/root/.bun/bin:/usr/local/bin:/usr/bin:/bin
Environment=NODE_ENV=production
Environment=DISPLAY=:10
ExecStart=/bin/sh -lc "cd '/opt/makamujo' && NODE_ENV=production /root/.bun/bin/bun '/opt/makamujo/bin/x/browser.ts'"
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5s
