[Unit]
Description=makamujo OBS service
After=makamujo-browser.service
PartOf=makamujo.service

[Service]
Type=simple
WorkingDirectory=@PREFIX@
User=root
Environment=PATH=@PREFIX@/bin:/usr/local/bin:/usr/bin:/bin
Environment=DISPLAY=:10
Environment=XDG_CONFIG_HOME=@PREFIX@
Environment=XDG_DATA_HOME=@PREFIX@
Environment=XDG_CACHE_HOME=@PREFIX@/.cache
ExecStart=/bin/sh -lc "cd '@PREFIX@' && '@PREFIX@/bin/x/obs'"
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5s
